body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 0;
    background-color: #252C4F; 
    color: #333;
}


header {
    color: #1EADE5;
    padding: 20px 0;
    text-align: center;
    position: relative;
   
}


header h1 {
    margin: 0;
    color: #1EADE5;
    font-size: 2.5rem;
    display: inline-block;
    padding: 10px 20px;    
}


main {
    padding: 20px;
}


h2 {
    color: #005fa3;
    border-bottom: 2px solid #0077cc;
    padding-bottom: 10px;
}


ul {
    list-style: column;
    padding: 0;
    color: #ffffff;
}


ul li {
    margin: 20px 0;
    display: flex;
    align-items: center;
    background-color: #ffffff; 
    border: 1px solid #1EADE5;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #000000;
}


ul li img {
    width: 120px; 
    height: 120px; 
    object-fit: cover; 
    margin-right: 15px;
    border-radius: 8px; 
}


ul li a {      /*Esto es de los enlaces a los museos*/  
    color: #1EADE5;
    font-weight: bold;
    font-size: 1.2rem;
    color: #1EADE5; 
}


a{
    text-decoration: none;
    color: white

}


footer {
    background-color: #252C4F;
    color: #0077cc;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
}


ol{ /*Este es del nav*/
    background-color: #005FA3;
    list-style: none;    
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
}