*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }
  h1{ color: #1EADE5;
    text-align: center;
   padding: 20px;
   background-color: #252C4F;

}


h2{
    color: #0077cc;
    margin-top: 1.5rem;
    font-family: "Special Gothic Expanded One", sans-serif
  }
h3 {
    color: #0077cc;
    margin-top: 1.5rem;
    font-family: "Special Gothic Expanded One", sans-serif
  }
  .menu ul{
    background-color:#005FA3;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    justify-content: center;
    
  }
  
  a{
    text-decoration: none;
    color: #ffffff;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
  }
img{    
  width: 800px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /*Sombra gris*/  
}
figure{
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 50px;
}
p{ 
  color: #000000;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  margin-top: 1.5rem;
}
footer {
  background-color: #252C4F;
  color: #0077cc;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
}