*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: beige;
  }
h2 {
    margin: 0;
    
    color: black;
  }
h3 {
    color: black;
    margin-top: 1.5rem;
  }
  .menu ul{
    background-color:#005FA3;
    display: flex;
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
    list-style: none;
    justify-content: center;
    
  }
  
  a{
    text-decoration: none;
    color: white;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px;
  }
img{    
  width: 800px;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /*Sombra gris*/  
}
figure{
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding: 50px;
}